.empty-state {
  min-height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #64748b;
}

.empty-icon {
  font-size: 50px;
  margin-bottom: 10px;
}

.empty-state h2 {
  margin: 0 0 8px;
  color: #1e293b;
}

.empty-state p {
  margin: 0;
}